parameters:
    testMode: true
    database:
        dsn: 'sqlite::memory:'
        user: null
        password: null

services:
    - App\Common\Security\Authenticator
    - App\Modules\Login\LoginPresenter
    - App\Modules\Login\Forms\LoginFormFactory

security:
    users:
        test@example.com:
            password: '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi' # password123
            roles: [user] 