<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{block title}Riho Admin{/block}</title>
	<link rel="stylesheet" href="{$basePath}/assets/css/vendors/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/style.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/color-1.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/responsive.css">
	{block head}{/block}
</head>
<body>
<div class="page-wrapper horizontal-wrapper" id="pageWrapper">
	{include 'header.latte'}
	<div class="page-body-wrapper">
		{block content}{/block}
            {include 'footer.latte'}
	</div>
</div>
<script src="{$basePath}/assets/js/jquery.min.js"></script>
<script src="{$basePath}/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="{$basePath}/assets/js/script.js"></script>
{block scripts}{/block}
</body>
</html>