<div class="page-header">
	<div class="header-wrapper row m-0">
		<div class="header-logo-wrapper col-auto p-0">
			<div class="logo-wrapper">
				<a href="{$basePath}/"><img src="{$basePath}/assets/images/logo/logo.png" alt="Logo" class="img-fluid" /></a>
			</div>
		</div>
		<div class="left-header col p-0">
			<h4 class="f-w-600">Admin Panel</h4>
		</div>
	</div>
</div>

<div class="sidebar-wrapper">
	<nav class="sidebar-main">
		<ul class="sidebar-links">
			<li><a class="sidebar-link sidebar-title" href="{$basePath}/">Dashboard</a></li>
		</ul>
	</nav>
</div>