# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

php:
	date.timezone: Europe/Prague

application:
#	catchExceptions: yes

	errorPresenter:
		4xx: Api\Common\Exception\Error4xx   # for Nette\Application\BadRequestException
		5xx: Api\Common\Exception\Error5xx   # for other exceptions

	mapping:
#		Api: Api\Presenters\*Presenter
		*: ['Api', '*', '*\*Presenter']

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

parameters:
	swaggerFile: %appDir%/config/swagger.neon
