# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

php:
	date.timezone: Europe/Prague

application:
#	catchExceptions: yes

	errorPresenter:
		4xx: Api\Common\Errors\Error4xxPresenter
		5xx: Api\Common\Error\Error5xxPresenter

	mapping:
		*: ['Api', '*', '*\*Presenter']

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

parameters:
	swaggerFile: %appDir%/config/swagger.neon
