services:

#	oauth2Server:
#		factory: League\OAuth2\Server\AuthorizationServer(
#			@oauth2RepositoryAccessToken,
#			@oauth2RepositoryClient,
#			@oauth2RepositoryScope,
#			@oauth2RepositoryAuthCode,
#			@oauth2CryptKey
#		)
#
#	oauth2RepositoryAccessToken: Api\Security\Repositories\AccessTokenRepository
#	oauth2RepositoryClient: Api\Security\Repositories\ClientRepository
#	oauth2RepositoryScope: Api\Security\Repositories\ScopeRepository
#	oauth2RepositoryAuthCode: Api\Security\Repositories\AuthCodeRepository
#	oauth2CryptKey: League\OAuth2\Server\CryptKey(%oauth_private_key%, null, false)

	#Common
	- Api\Common\Router\RouterFactory::createRouter
	- Api\Common\Repository\RouterRepository
	- Api\Common\Service\RouterService


	- Api\Modules\Default\DefaultPresenter(%swaggerFile%)


	#Repositories
	- Api\Modules\Customers\Repository\CustomerRepository

	#Facades
	- Api\Modules\Customers\Facade\CustomerFacade

	#Services
	- Api\Modules\Customers\Service\CustomerService
	