services:

#	oauth2Server:
#		factory: League\OAuth2\Server\AuthorizationServer(
#			@oauth2RepositoryAccessToken,
#			@oauth2RepositoryClient,
#			@oauth2RepositoryScope,
#			@oauth2RepositoryAuthCode,
#			@oauth2CryptKey
#		)
#
#	oauth2RepositoryAccessToken: Api\Security\Repositories\AccessTokenRepository
#	oauth2RepositoryClient: Api\Security\Repositories\ClientRepository
#	oauth2RepositoryScope: Api\Security\Repositories\ScopeRepository
#	oauth2RepositoryAuthCode: Api\Security\Repositories\AuthCodeRepository
#	oauth2CryptKey: League\OAuth2\Server\CryptKey(%oauth_private_key%, null, false)

	#Common
	- Api\Common\Router\RouterFactory::createRouter
	- Api\Common\Repository\RouterRepository
	- Api\Common\Service\RouterService

	# #Middleware	
	# - App\Common\Middleware\BasicAuthMiddleware
	# - App\Common\Middleware\JsonMiddleware
	# - App\Common\Service\JWTService(%configDir%)
	# - App\Common\Middleware\JWTAuthMiddleware

	- Api\Modules\Default\DefaultPresenter(%swaggerFile%)

	#Repositories
	- Api\Modules\Customers\Repository\CustomerRepository
	- Api\Modules\Projects\Repository\ProjectRepository

	#Facades
	- Api\Modules\Customers\Facade\CustomerFacade
	- Api\Modules\Projects\Facade\ProjectsFacade

	#Services
	- Api\Modules\Customers\Service\CustomerService
	- Api\Modules\Projects\Service\ProjectService