# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

php:
	date.timezone: Europe/Prague

application:
#	catchExceptions: yes

	errorPresenter:
		4xx: App\Common\Errors\Error4xxPresenter
		5xx: App\Common\Errors\Error5xxPresenter

	mapping:
		*: ['App', '*', '*\*Presenter']

latte:
	debugger: 'all'

session:
	expiration: 14 days
	autoStart: true
	savePath: "%tempDir%/sessions"


extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22