services:
	- App\Common\Router\RouterFactory::createRouter

	- App\Modules\Dashboard\Service\DashboardService

#	- App\Model\CustomersModel
#	- App\Model\ProjectsModel
#	- Btk\Helpers
#
#	- App\Models\ApiClient
