{layout '../../../Common/Templates/@noAuthLayout.latte'}

{block content}
	<div class="container-fluid p-0">
		<div class="row m-0">
			<div class="col-12 p-0">
				<div class="login-card login-dark">
					<div>
						<div>
							<a class="logo" n:href="Login:default">
								<img class="img-fluid for-light" src="{$baseUrl}/assets/images/logo/logo-login.png" alt="looginpage" />
							</a>
						</div>
						<div class="login-main">
							{form loginForm, class => "theme-form", autocomplete => "off"}
								<h4>Přihlasit se k účtu</h4>
								<p>Vložte Váš e-mail a heslo</p>
								<div class="form-group">
									{label email, class => "col-form-label" /}
									{input email, class => "form-control", tabindex => "1"}
								</div>
								<div class="form-group">
									{label passwd, class => "col-form-label" /}
									<div class="form-input position-relative">
										{input passwd, class => "form-control", tabindex => "2"}
									</div>
								</div>
								<ul class="errors text-danger" n:ifcontent>
									<li n:foreach="$form->getOwnErrors() as $error">{$error}</li>
								</ul>
								<div class="form-group mb-0">
									<div class="text-end mt-3">
										<br />
										<button class="btn btn-primary btn-block w-100" type="submit" tabindex = "3">Přihlásit</button>
									</div>
								</div>
							{/form}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{/block}