{layout '../../../Common/Templates/@layout.latte'}

{block content}
	<div class="page-body">
		<div class="container-fluid">
			<div class="row page-title">
				<div class="col-6">
					<h4>
						Vytvoření projektu
					</h4>
				</div>
			</div>
		</div>		

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 card">
					<div class="card-body">
						{control createProjectForm}
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="alert alert-warning">
				<strong>Nápověda pro CSV soubor:</strong>
				<ul>
					<li>Data musí být oddělená čárkou (<strong>,</strong>).</li>
					<li>První řádek musí obsahovat názvy sloupců.</li>
					<li>Názvy sloupců by měly být bezpečné (např. bez speciálních znaků, mezer; ideálně použijte camelCase nebo snake_case).</li>
					<li>Jeden ze sloupců musí být pojmenován <strong>ID</strong> a jeho hodnoty budou použity jako primární klíč.</li>
					<li>Po nahrání budou automaticky ze souboru odstraněny prázdné řádky a řádky s chybami.</li>
				</ul>
			</div>
		</div>
	</div>
{/block}