{layout '../../../Common/Templates/@layout.latte'}

{block content}
<div class="page-body">
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-6">
					<h4>Detail projektu</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="blog-single card-body">
						<div class="blog-box blog-details">
							<div class="blog-details">
								<h4>
									#{$projectDetail->project_id} {$projectDetail->name}
									<a n:href="Projects:map, $projectDetail->project_id" class="btn btn-success">Detail mapy</a>
								</h4>
								<div class="single-blog-content-top">
									{foreach $clusters as $cluster}
										<h2>Cluster {$cluster->coordinates}:</h2>
										<p>Size = {$cluster->size}, Avg Cost = {$cluster->avgCost|number_format:2}, Avg Duration = {$cluster->avgDuration|number_format:2}</p>
										<p>Country Stats:</p>
										<ul>
											{foreach $cluster->countryStats as $country => $count}
												<li>{$country}: {$count} trips</li>
											{/foreach}
										</ul>
										<button onclick="document.getElementById('data_{$cluster->coordinates}').classList.toggle('hidden')">Zobrazit data</button>
										<div id='data_{$cluster->coordinates}' class='hidden'>
											<table>
												<tr>
													<th>travel_id</th>
													<th>employee_id</th>
													<th>event_type</th>
													<th>place</th>
													<th>country</th>
													<th>duration</th>
													<th>cost</th>
												</tr>
												{foreach $cluster->trips as $trip}
													<tr>
														<td>{$trip->travel_id}</td>
														<td>{$trip->employee_id}</td>
														<td>{$trip->event_type}</td>
														<td>{$trip->place}</td>
														<td>{$trip->country}</td>
														<td>{$trip->duration}</td>
														<td>{$trip->cost}</td>
													</tr>
												{/foreach}
											</table>
										</div>
									{/foreach}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}