{layout '../../../Common/Templates/@layout.latte'}

{block content}
<div class="page-body">
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-6">
					<h4>Detail projektu</h4>
				</div>
				<div class="col-md-6 project-list">
					<a class="btn btn-primary" n:href="Projects:edit, project_id => $projectDetail->project_id"> <i data-feather="plus-square"> </i>Upravit projekt</a>
					<a class="btn btn-danger" n:href="delete!, project_id => $projectDetail->project_id"> <i data-feather="plus-cros"> </i>Odstranit projekt</a>
				</div>
			</div>

		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="blog-single card-body">
						<div class="blog-box blog-details">
							<div class="blog-details">
								<h4>
									#{$projectDetail->project_id} {$projectDetail->name}
									<a n:href="Projects:map, $projectDetail->project_id" class="btn btn-success">Detail mapy</a>
								</h4>
								<div class="single-blog-content-top">

									<div class="card mt-4">
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<p><strong>UID hash:</strong> {$projectDetail->uid_hash}</p>
													<p><strong>Analýza dokončena:</strong> <span class="badge {if $projectDetail->status == 1}badge-success{else}badge-warning{/if}">{if $projectDetail->status == 1}Ano{else}Ne{/if}</span></p>
													<p><strong>Datum vytvoření:</strong> {$projectDetail->added|date:'j.n.Y'}</p>
													
													{if ! empty($projectDetail->project_settings)}
														<div class="card mt-4">
															<div class="card-header">
																<h5>Nastavení parametrů projektu</h5>
															</div>
															<div class="card-body">
																<table class="table table-striped">
																	<thead>
																		<tr>
																			<th>Popis</th>
																			<th>Hodnota</th>
																		</tr>
																	</thead>
																	<tbody>
																		{foreach $projectDetail->project_settings as $key => $value}
																			{continueIf ! isset($projectConfigDescription[$key])}
																			<tr>
																				<td><strong>{$projectConfigDescription[$key]}</strong></td>
																				<td>
																					{if is_array($value)}
																						{implode(', ', $value)}
																					{elseif is_bool($value)}
																						{if $value}Ano{else}Ne{/if}
																					{elseif $value === null}
																						-
																					{else}
																						{$value}
																					{/if}
																				</td>
																			</tr>
																		{/foreach}
																	</tbody>
																</table>
															</div>
														</div>
													{/if}


													
												</div>
												<div class="col-md-6">
													{if ! empty($projectDetail->som_settings)}
														<div class="card mt-4">
															<div class="card-header">
																<h5>Nastavení parametrů SOM</h5>
															</div>
															<div class="card-body">
																<table class="table table-striped">
																	<thead>
																		<tr>
																			<th>Popis</th>
																			<th>Hodnota</th>
																		</tr>
																	</thead>
																	<tbody>
																		{foreach $somConfig as $key => $value}
																			{continueIf ! isset($somConfigDescription[$key])}
																			<tr>
																				<td><strong>{$somConfigDescription[$key]}</strong></td>
																				<td>
																					{if is_array($value)}
																						{implode(', ', $value)}
																					{elseif is_bool($value)}
																						{if $value}Ano{else}Ne{/if}
																					{elseif $value === null}
																						-
																					{else}
																						{$value}
																					{/if}
																				</td>
																			</tr>
																		{/foreach}
																	</tbody>
																</table>
															</div>
														</div>
													{/if}
												</div>
											</div>
										</div>
									</div>


									{include ./projectFiles.latte}
									{include ./projectConfigTable.latte}
									<div class="card mt-4">
										<div class="card-body">
											<div class="row">
												{foreach $projectFiles['visualization'] as $type => $files}
													{foreach $files as $file}
														<div class="col-md-4">
															<h5>{$type}</h5>
															<a href="{$basePath}/userFiles/{$projectDetail->uid_hash}/visualization/{$file}" class="thumbnail">
																	<img src="{$basePath}/userFiles/{$projectDetail->uid_hash}/visualization/{$file}" alt="{$type} visualisation" class="img-fluid">
															</a>
														</div>
													{/foreach}
												{/foreach}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{/block}



