{layout '../../../Common/Templates/@layout.latte'}

{block content}
<div class="page-body">
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-4">
					<h4>Detail projektu</h4>
				</div>
				<div class="col-md-8 project-list">
					<a class="btn btn-outline-danger-2x" n:href="delete!, project_id => $projectDetail->project_id"  onclick="return confirm('Opravdu chcete smazat tento projekt?');"> <i data-feather="trash-2"> </i>Odstranit projekt</a>
					{if $projectDetail->ready_to_analyze == 0}
						<a class="btn btn-outline-primary-2x" n:href="Projects:edit, project_id => $projectDetail->project_id"> <i data-feather="edit"> </i>Upravit projekt</a>
						<a class="btn btn-outline-info-2x" n:href="Projects:editSom, project_id => $projectDetail->project_id"> <i data-feather="sliders"> </i>Upravit nastavení SOM</a>
					{/if}
					{if $projectDetail->status == 1}
						<a n:href="Projects:statsData, $projectDetail->project_id" class="btn btn-outline-success-2x"> <i data-feather="bar-chart-2"> </i>Zobrazit analýzu</a>
						<a class="btn btn-outline-warning-2x" n:href="resubmit!, project_id => $projectDetail->project_id"> <i data-feather="refresh-cw"> </i>Odeslat znova na analýzu</a>
						<a class="btn btn-outline-primary-2x" n:href="reedit!, project_id => $projectDetail->project_id"> <i data-feather="edit-2"> </i>Povolit editaci</a>
					{/if}
					{if $projectDetail->ready_to_analyze == 0}
						<a class="btn btn-outline-success-2x" n:href="submit!, project_id => $projectDetail->project_id"> <i data-feather="play"> </i>Spustit analýzu</a>
					{/if}
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="blog-single card-body">
						<div class="blog-box blog-details">
							<div class="blog-details">
								<h4>
									#{$projectDetail->project_id} {$projectDetail->name}
								</h4>
								<div class="single-blog-content-top">
									<div class="card mt-4">
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<p><strong>UID hash:</strong> {$projectDetail->uid_hash}</p>
													{if $projectDetail->status == 1}
														<p><span class="badge badge-success">Analýza byla dokončena</span></p>
													{/if}
													{if $projectDetail->status == 0 && $projectDetail->ready_to_analyze == 1}
														<p>
															<span class="badge badge-warning">Projekt byl odeslán k analýze</span> <br />
															<em>Hned, až na Váš projekt vyjde řada, bude analyzován a informace se zde zobrazí.</em>
														</p>
													{/if}
													{if $projectDetail->status != 1 && $lastLogLine != ''}
														<p>
															<strong class="text-primary">Poslední zpráva z logu:</strong> <br />
															{$lastLogLine}
														</p>
													{/if}

													<p><strong>Datum vytvoření:</strong> {$projectDetail->added|date:'j.n.Y'}</p>
													
													{if ! empty($projectDetail->project_settings)}
														<div class="card mt-4">
															<div class="card-header">
																<h5>Nastavení parametrů projektu</h5>
															</div>
															<div class="card-body">
																<table class="table table-striped">
																	<thead>
																		<tr>
																			<th>Popis</th>
																			<th>Hodnota</th>
																		</tr>
																	</thead>
																	<tbody>
																		{foreach $projectDetail->project_settings as $key => $value}
																			{continueIf ! isset($projectConfigDescription[$key])}
																			<tr>
																				<td><strong>{$projectConfigDescription[$key]}</strong></td>
																				<td>
																					{if is_array($value)}
																						{implode(', ', $value)}
																					{elseif is_bool($value)}
																						{if $value}Ano{else}Ne{/if}
																					{elseif $value === null}
																						-
																					{else}
																						{$value}
																					{/if}
																				</td>
																			</tr>
																		{/foreach}
																	</tbody>
																</table>
															</div>
														</div>
													{/if}

													{if ! empty($projectDetail->results)}
														<div class="card mt-4">
															<div class="card-header">
																<h5>Výsledky analýzy</h5>
															</div>
															<div class="card-body">
																<table class="table table-striped">
																	<thead>
																	<tr>
																		<th>Popis</th>
																		<th>Hodnota</th>
																	</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>Dimenze (počet sloupců)</td>
																			<td>{$projectDetail->column_count}</td>
																		</tr>
																		<tr>
																			<td>Rozměr (počet řádků)</td>
																			<td>{$projectDetail->row_count}</td>
																		</tr>
																		<tr>
																			<td>Velikost souboru</td>
																			<td>{$projectDetail->file_size} MB</td>
																		</tr>
																		<tr>
																			<td>Délka zpracování</td>
																			<td>{$projectDetail->results->duration|round:2}s</td>
																		</tr>
																		<tr>
																			<td>Počet průchodů/epoch</td>
																			<td>{$projectDetail->results->epochs}</td>
																		</tr>
																		<tr>
																			<td>Počet aktualizovaných vah</td>
																			<td>{$projectDetail->results->total_weight_updates}</td>
																		</tr>
																		<tr>
																			<td>Dosažena kvantizační chyba</td>
																			<td>{$projectDetail->results->best_mqe|round:4}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													{/if}

													
												</div>
												<div class="col-md-6">
													{if ! empty($projectDetail->som_settings)}
														<div class="card mt-4">
															<div class="card-header">
																<h5>Nastavení parametrů SOM</h5>
															</div>
															<div class="card-body">
																<table class="table table-striped">
																	<thead>
																		<tr>
																			<th>Popis</th>
																			<th>Hodnota</th>
																		</tr>
																	</thead>
																	<tbody>
																		{foreach $somConfig as $key => $value}
																			{continueIf ! isset($somConfigDescription[$key])}
																			<tr>
																				<td><strong>{$somConfigDescription[$key]}</strong></td>
																				<td>
																					{if is_array($value)}
																						{implode(', ', $value)}
																					{elseif is_bool($value)}
																						{if $value}Ano{else}Ne{/if}
																					{elseif $value === null}
																						-
																					{else}
																						{$value}
																					{/if}
																				</td>
																			</tr>
																		{/foreach}
																	</tbody>
																</table>
															</div>
														</div>
													{/if}
												</div>
											</div>
										</div>
									</div>
									{include ./projectFiles.latte}
									{include ./projectConfigTable.latte}
									<div class="card mt-4">
										<div class="card-body">
											<div class="row">
												{foreach $projectFiles['visualization'] as $type => $files}
													{foreach $files as $file}
														<div class="col-md-4">
															<h5 class="mt-0 mb-1">
																{if str_contains($type, '_')}
																	{var $parts = explode('_', $type)}
																	{var $prefix = $parts[0]}
																	{if isset($visualizationTypes[$prefix])}
																		{$visualizationTypes[$prefix]} - {implode('_', array_slice($parts, 1))}
																	{else}
																		{$type} {* Fallback, pokud prefix není známý *}
																	{/if}
																{else}
																	{if isset($visualizationTypes[$type])}
																		{$visualizationTypes[$type]}
																	{else}
																		{$type} {* Fallback, pokud typ není známý *}
																	{/if}
																{/if}
															</h5>
															<p class="small">
																{if str_contains($type, '_')}
																	{if isset($visualizationTypesDescription[explode('_',$type)[0]])}
																		{$visualizationTypesDescription[explode('_',$type)[0]]}
																	{/if}
																{else}
																	{if isset($visualizationTypesDescription[$type])}
																		{$visualizationTypesDescription[$type]}
																	{/if}
																{/if}
															</p>
															<div class="visualization-wrapper" style="position: relative;">
																<a n:href="Projects:map, project_id => $projectDetail->project_id, map_name => substr($file, 0, -4)" class="thumbnail">
																	<img src="{$basePath}/userFiles/{$projectDetail->uid_hash}/visualization/{$file}" alt="{$type} visualisation" class="img-fluid main-viz">
																</a>
																<img src="{$basePath}/userFiles/{$projectDetail->uid_hash}/visualization/legends/{$file}" 
																	 alt="Legenda" 
																	 class="legend-overlay"
																	 style="display: none; position: absolute; right: 0; top: 50%; transform: translateY(-50%); max-height: 100%; z-index: 5;">
															</div>
															<br /><br />

															<style>
																.visualization-wrapper {
																	position: relative;
																}
																.legend-overlay {
																	position: absolute;
																	right: 0px;
																	top: 50%;
																	transform: translateY(-50%);
																	max-height: 100%;
																	z-index: 5;
																	display: none;
																	border: 1px solid #666;
																}
																/* Zajištění, že header a sidebar budou vždy navrchu */
																.page-header {
																	z-index: 10;
																}
																.sidebar-wrapper {
																	z-index: 10 !important;
																}
															</style>

															<script>
																document.addEventListener('DOMContentLoaded', function() {
																	const vizWrappers = document.querySelectorAll('.visualization-wrapper');
																	
																	vizWrappers.forEach(wrapper => {
																		const mainViz = wrapper.querySelector('.main-viz');
																		const legend = wrapper.querySelector('.legend-overlay');
																		
																		// Kontrola existence legendy
																		fetch(legend.src)
																			.then(response => {
																				if (!response.ok) {
																					legend.remove();
																				}
																			})
																			.catch(() => {
																				legend.remove();
																			});

																		wrapper.addEventListener('mouseenter', () => {
																			if (legend) {
																				legend.style.display = 'block';
																			}
																		});

																		wrapper.addEventListener('mouseleave', () => {
																			if (legend) {
																				legend.style.display = 'none';
																			}
																		});
																	});
																});
															</script>
														</div>
													{/foreach}
												{/foreach}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{/block}



