{layout '../../../Common/Templates/@layout.latte'}

{block content}
<div class="page-body">
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-6">
					<h4>Detail projektu</h4>
				</div>
				<div class="col-md-6 project-list">
					<a class="btn btn-primary" n:href="Projects:edit, project_id => $projectDetail->project_id"> <i data-feather="plus-square"> </i>Upravit projekt</a>
					<a class="btn btn-danger" n:href="delete!, project_id => $projectDetail->project_id"> <i data-feather="plus-cros"> </i>Odstranit projekt</a>
				</div>
			</div>

		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="blog-single card-body">
						<div class="blog-box blog-details">
							<div class="blog-details">
								<h4>
									#{$projectDetail->project_id} {$projectDetail->name}
								</h4>
								<div class="single-blog-content-top">

									<div class="card mt-4">
										<div class="card-body">
											<p><strong>UID hash:</strong> {$projectDetail->uid_hash}</p>
											<p><strong>Analýza dokončena:</strong> {if $projectDetail->status == 1}Ano{else}Ne{/if}</p>
											<p><strong>Datum vytvoření:</strong> {$projectDetail->added|date:'j.n.Y'}</p>

											{$projectDetail->result_id} odkaz na výsledek
											{dump $projectDetail->settings}
										</div>
									</div>

									{include ./projectFiles.latte}

									{include ./projectConfigTable.latte}

									<div class="card mt-4">
										<div class="card-body">
											<img src="{$basePath}/userFiles/{$projectDetail->uid_hash}/visualize.jpg" alt="Visualised data" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{/block}



