{layout '../../../Common/Templates/@layout.latte'}

{block scripts}
	<script src="{$baseUrl}/assets/js/nette/netteForms.min.js"></script>
{/block}

{block content}
<div class="page-body">
	<div class="container-fluid">
		<div class="row page-title">
			<div class="col-6">
				<h4>
					Upravení projektu
				</h4>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 card">
				<div class="card-body">
					{control editProjectForm}
				</div>
			</div>
		</div>
	</div>
</div>
{/block}