{layout '../../../Common/Templates/@layout.latte'}

{block content}
<div class="page-body">
	<div class="container-fluid">
		<div class="row page-title">
			<div class="col-6">
				<h4>
					Upravení parametrů SOM algoritmu
				</h4>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 card">
				<div class="card-body">
					{control editSomProjectForm}
					<br />

					<div class="row mt-4">
						<div class="col-md-4">
							<h4 class="text-primary">Příklad nastavení pro deterministický přístup:</h4>
							<div class="alert">
								<ul>
									<li><strong>Počet sekcí</strong> rozdělení vstupního souboru: 1</li>
									<li><strong>Minimální velikost dávky</strong> (%): 100</li>
									<li><strong>Maximální velikost dávky</strong> (%): 100</li>
									<li><strong>Typ růstu dávky</strong>: (není relevantní, dávka je konstantní)</li>
									<li><strong>Násobitel epoch</strong>: 1 (nebo vyšší pro vícenásobné projití celého datasetu)</li>
									<li><strong>Počáteční rychlost učení</strong>: např. 0.9</li>
									<li><strong>Koncová rychlost učení</strong>: např. 0.1</li>
									<li><strong>Typ poklesu rychlosti učení</strong>: např. Lineární pokles</li>
									<li><strong>Počáteční poloměr okolí</strong>: (automaticky R = m/2 nebo zadaná hodnota)</li>
									<li><strong>Koncový poloměr okolí</strong>: např. 1.0</li>
									<li><strong>Typ poklesu poloměru</strong>: např. Lineární pokles</li>
									<li><strong>Random seed</strong>: (Doporučeno nastavit pro reprodukovatelnost)</li>
								</ul>
								<em>Poznámka: Pro Deterministický přístup je třeba zpracovat při každém průchodu všechny vstupní vektory. U rozsáhlejších dat je třeba nastavit násobitel epoch na 1 či 0,5 aby nedošlo k přeučení.</em>
							</div>
						</div>
						<div class="col-md-4">
							<h4 class="text-primary">Příklad nastavení pro stochastický přístup <br /> (učení po jednom vzorku):</h4>
							<div class="alert">								
								<ul>
									<li><strong>Počet sekcí</strong> rozdělení vstupního souboru: 1</li>
									<li><strong>Minimální velikost dávky</strong> (%): (nastavte velmi nízko, např. odpovídající 1 vzorku, např. 0.01%)</li>
									<li><strong>Maximální velikost dávky</strong> (%): (stejné jako minimální pro konstantní velikost dávky 1 vzorku)</li>
									<li><strong>Typ růstu dávky</strong>: (není relevantní pokud min i max jsou stejné)</li>
									<li><strong>Násobitel epoch</strong>: (typicky vysoké číslo, např. 100, 1000 nebo více, jelikož každá "epocha" zpracuje jen malou část dat)</li>
									<li><strong>Počáteční rychlost učení</strong>: např. 0.5</li>
									<li><strong>Koncová rychlost učení</strong>: např. 0.01</li>
									<li><strong>Typ poklesu rychlosti učení</strong>: např. Lineární pokles</li>
									<li><strong>Počáteční poloměr okolí</strong>: (automaticky R = m/2 nebo zadaná hodnota, může být menší než u deterministického)</li>
									<li><strong>Koncový poloměr okolí</strong>: např. 1.0</li>
									<li><strong>Typ poklesu poloměru</strong>: např. Lineární pokles</li>
									<li><strong>Random seed</strong>: (Doporučeno nastavit pro reprodukovatelnost)</li>
								</ul>
								<em>Poznámka: Pro stochastický přístup s postupným zpracováváním jednoho vstupního vektoru při každém průchodu. Je nutné navýšit násobitel epoch pro více průchodů.</em>
							</div>
						</div>
						<div class="col-md-4">
							<h4 class="text-primary">Příklad nastavení pro stochastický trénink se škálovanou granularitou</h4>
							<div class="alert">																
								<ul>
									<li><strong>Počet sekcí</strong> rozdělení vstupního souboru: 10</li>
									<li><strong>Minimální velikost dávky</strong> (%): 0.2</li>
									<li><strong>Maximální velikost dávky</strong> (%): 5.0</li>
									<li><strong>Typ růstu dávky</strong>: Exponenciální růst</li>
									<li><strong>Modifikátor růstu křivky dávky</strong>: 25.0</li>
									<li><strong>Násobitel epoch</strong>: dynamicky podle velikosti mapy <br /> 0.5 pro velké datasety až 100 pro malé</li>
									<li><strong>Počáteční rychlost učení</strong>: 0.9</li>
									<li><strong>Koncová rychlost učení</strong>: 0.05</li>
									<li><strong>Typ poklesu rychlosti učení</strong>: Lineární pokles</li>
									<li><strong>Počáteční poloměr okolí</strong>: auto </li>
									<li><strong>Koncový poloměr okolí</strong>: 1.0</li>
									<li><strong>Typ poklesu poloměru</strong>: Lineární pokles</li>
									<li><strong>Random seed</strong>: (Doporučeno nastavit pro reprodukovatelnost)</li>
								</ul>
								<br />
								<em>Poznámka: Toto nastavení používá exponenciální růst velikosti dávky od 0.2% do 5.0% s růstovým exponenciální křivou a faktorem modifikace křivky 25.0, což umožňuje postupné zvyšování granularity zpracování dat.</em>
							</div>
						</div>  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}