{layout '../../../Common/Templates/@layout.latte'}
{block head}
	<link rel="stylesheet" type="text/css" href="{$baseUrl}/assets/css/map.css">
{/block}

{block content}
	<div class="page-body">
		<div class="container-fluid">
			{if $mapName === 'mqe-history'}
				<div class="map-container" style="background-image: url('{$baseUrl}/userFiles/{$projectDetail->uid_hash}/visualization/{$mapName}.png');"></div>
			{else}
				<div class="map-container square-map" id="map" style="background-image: url('{$baseUrl}/userFiles/{$projectDetail->uid_hash}/visualization/{$mapName}.png');"></div>
				<div class="map-tooltip" id="tooltip"></div>
			{/if}
		</div>
	</div>
{/block}

{block scripts}
	{if $mapName !== 'mqe-history'}
		<script n:syntax="off">
			$(function() {
				const $map = $('#map');
				const $tooltip = $('#tooltip');
				const gridSize = {$projectDetail->som_settings->m};
				const cellData = {};
				let tooltipTimeout;

				function showTooltip(cell, event) {
					clearTimeout(tooltipTimeout);
					const d = cellData[$(cell).data('id')];
					$tooltip
						.html(
							`Neuron ${$(cell).data('id')}<br>` +
							`Počet vektorů: ${d.vectors}<br>` +
							`Průměr: ${d.avg}<br>` +
							`Extrémy: ${d.extremes}`
						)
						.css({
							'left': event.clientX,
							'top': event.clientY
						})
						.stop(true, true)
						.show();
				}

				function hideTooltip() {
					tooltipTimeout = setTimeout(() => {
						$tooltip.hide();
					}, 100);
				}

				// Vytvoření mřížky - i je řádek (y), j je sloupec (x)
				for (let i = 0; i < gridSize; i++) {
					for (let j = 0; j < gridSize; j++) {
						const id = `${i}_${j}`; // ID ve formátu "řádek_sloupec"
						const $cell = $('<div/>', {
							'class': 'grid-cell',
							'data-id': id
						}).css({
							'left': `${(j / gridSize) * 100}%`, // j určuje x-ovou pozici
							'top': `${(i / gridSize) * 100}%`   // i určuje y-ovou pozici
						});

						cellData[id] = {
							vectors: Math.floor(Math.random() * 20),
							avg: (Math.random() * 10).toFixed(2),
							extremes: Math.floor(Math.random() * 5)
						};

						$cell
							.on('mouseenter', function(e) {
								showTooltip(this, e);
							})
							.on('mouseleave', hideTooltip)
							.on('click', function() {
								alert('Přejít na detail clusteru ' + $(this).data('id'));
							});
						$map.append($cell);
					}
				}

				// Aktualizace pozice tooltipu při pohybu myši
				$map.on('mousemove', 'div.grid-cell', function(e) {
					if($tooltip.is(':visible')) {
						$tooltip.css({
							'left': e.clientX,
							'top': e.clientY
						});
					}
				});
			});
		</script>
	{/if}
{/block}