<div class="file-content">
	<div class="card">
		<div class="card-header">
			<div class="file-manager">
				<h5 class="mt-4 mb-2">Soubory </h5>
				<ul class="d-flex flex-row files-content">
					<li class="folder-box d-flex align-items-center">
						<div class="d-flex align-items-center files-list">
							<div class="flex-shrink-0 file-left">
								<a href="{$basePath}/userFiles/{$projectDetail->uid_hash}/input.csv" target="_blank">
									<i class="f-22 fa fa-file-excel-o font-primary"></i>
								</a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6>
									<a href="{$basePath}/userFiles/{$projectDetail->uid_hash}/input.csv" target="_blank">
										Vstupní CSV
									</a>
								</h6>
								<p>7 Hour ago, 2.0 MB</p>
							</div>
						</div>
					</li>
					<li class="folder-box d-flex align-items-center">
						<div class="d-flex align-items-center files-list">
							<div class="flex-shrink-0 file-left">
								<a href="{$basePath}/userFiles/{$projectDetail->uid_hash}/processed.csv" target="_blank">
									<i class="f-22 fa fa-file-excel-o font-success"></i>
								</a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6>
									<a href="{$basePath}/userFiles/{$projectDetail->uid_hash}/processed.csv" target="_blank">
										Zpracované CSV
									</a>
								</h6>
								<p>7 Hour ago, 2.0 MB</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>