{block content}
    <div class="content-holder elem scale-bg2 transition3" >
        <div class="content full-height">

            {include ../_shared/menu.latte}

            <div class="fixed-title"><span>Page not found</span></div>
            <div class="full-height-wrap fixed-wrap">
                <div class="bg" style="background-image:url({$baseUrl}/upload/pages/full/404.jpg?v={$settings->projectVersion})"></div>
                <div class="overlay"></div>
            </div>

            <div class="custom-inner error-page">
                <div class="container">
                    <h2>{_content.error.404.title}</h2>
                    <div class="separator-image"><img src="images/separator.png" alt=""></div>
                    <h3>{_content.error.404.desc}</h3>
                    <a n:href="Default:default" class=" btn anim-button  trans-btn wt-btn  transition">
                        <span>{_content.error.404.back}</span><i class="fa fa-home"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{/block}
