{layout '../../../Common/Templates/@layout.latte'}

{block content}

	<!-- Page Sidebar Ends-->
	<div class="page-body">
		<div class="container-fluid">
			<div class="page-title">
				<div class="row">
					<div class="col-6">
						<h3>Název stránky</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h4>Sample Card</h4><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
						</div>
						<div class="card-body">
							<a n:href="Dashboard:sablona">sablona</a>
							asdasdasd
							{* Detail zákazníka <a n:href="Customers:detail, customer_id => 1">Tomáš Kotásek</a> *}
							jsem na defaultu.

							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur
								e dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat n
								on proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}